.container-navigation {
    background-color: rgba(246, 246, 246, 1);
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 4%;
}

.container-navigation a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(187, 187, 187, 1);
}

.container-navigation span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}