.sidenav {
  height: 100%; /* 100% chiều cao */
  width: 0; /* Bắt đầu với chiều rộng 0 */
  position: fixed; /* Đặt vị trí cố định */
  z-index: 1; /* Nằm trên cùng */
  top: 0; /* Đỉnh trang */
  left: 0; /* Bên trái */
  background-color: #111; /* Màu nền đen */
  overflow-x: hidden; /* Ẩn cuộn ngang */
  padding-top: 60px; /* Đệm 60px từ trên cùng */
  transition: 0.5s; /* Hiệu ứng chuyển tiếp 0.5 giây */
}

.sidenav a {
  padding: 8px 8px 8px 32px; /* Đệm cho liên kết */
  text-decoration: none; /* Không gạch chân */
  font-size: 25px; /* Kích thước chữ */
  color: #818181; /* Màu chữ */
  display: block; /* Đảm bảo liên kết chiếm toàn bộ chiều rộng */
  transition: 0.3s; /* Hiệu ứng chuyển tiếp cho liên kết */
}

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1; /* Màu chữ khi hover */
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s; /* Chuyển tiếp cho lề trái */
  padding: 20px;
  overflow: hidden;
  width: 100%; /* Chiều rộng đầy đủ */
}

.topnav {
  background-color: #333; /* Màu nền cho thanh điều hướng */
  overflow: hidden; /* Ẩn cuộn */
}

.topnav a {
  float: left; /* Nối trái */
  display: block;
  color: #f2f2f2; /* Màu chữ */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd; /* Màu nền khi hover */
  color: black; /* Màu chữ khi hover */
}

.topnav a.active {
  background-color: #4CAF50; /* Màu nền cho liên kết đang hoạt động */
  color: white; /* Màu chữ cho liên kết đang hoạt động */
}


@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}


a svg {
  transition: all .5s ease;
  &:hover {
      transform: rotate(180deg; /* Lỗi cú pháp: Đổi từ #transform thành transform */
  }
}

#ico {
  display: none; /* Ẩn phần tử có ID là ico */
}

.menu {
  background: #000;
  display: none; /* Ẩn menu */
  padding: 5px;
  width: 320px;
  @include border-radius(5px);
  transition: all 0.5s ease; /* Lỗi cú pháp: Đổi từ #transition thành transition */
}
