.header{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.header-search{
    display: flex;
    justify-content: space-between;
    background-color: #4CAF50;
    padding: 20px 300px;
    height: 100px;
    align-items: center;
}


/* Ảnh ABC */
.search-img{
    width: 73px;
    height: 73px;
}

.input-search{
    width: 750px;
    height: 51px;
    position: relative;
}
.input{
    
    width: 620px;
    height: 51px;
    outline: none;
    border-top-left-radius: 20px;
    border: none;
    padding: 10px 20px;
}
.input::placeholder{
    font-size: 16px;
    font-family: Comfortaa ;
}
.button-search{
    position: absolute;
    right: 0;
    top: 0;
    width: 130px;
    height: 51px;
    background-color: #D0E63A;
    border: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Comfortaa;
    color: #3E4095;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.favarites{
    display: flex;
    gap: 10px
}

.info-user{
   display: flex;
}

.info-user span{
    height: auto;
    border-left: 1px solid #74D778;
    padding: 0 20px;
}

.navbar{
    display: flex;
    padding: 0 280px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 50px;
}

.nav-left{
    display: flex;
    gap: 20px;
}

.nav-left span{
    font-size: 24px;
    font-family: 'Cherry Bomb', sans-serif;
}

.nav-left span:nth-child(2){
    color: #1FACA1;
}
.nav-left span:nth-child(3){
    color: red;
}
.nav-left span:nth-child(4){
    color: orange;
}
.nav-left span:nth-child(5){
    color:  #1f97ac;
}

.contact{
    display: flex;
    gap: 15px;
    align-items: center;
}







