@media only screen and (max-width: 768px) {
  .input-search {
    display: none;
  }

  .nav-left {
    display: none;
  }

  .header-search {
    gap: 7vw;
    height: auto;
  }

  .navbar-menu {
    display: block;
  }

  .input-search2 {
    display: block;
  }

  .input {
    height: 40px;
    outline: 1px solid #ccc;
  }

  .button-search {
    height: 40px;
  }

  .numberCall {
    white-space: nowrap;
    font-size: 22px;
  }

  .navbar {
    gap: 20px;
  }

  .overlayFullScreen {
    display: none;
    /* Mặc định là ẩn */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Nền tối mờ */
    z-index: 25;
    /* Dưới thanh điều hướng */
  }

  .topnav {
    overflow: hidden;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: aqua;
  }

  .main-2 {
    padding: 0;
  }

  .main-2-right {
    width: 100%;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }

  .main-2-right .infor-product-head img {
    width: 90%;
    height: auto;
  }

  .main-2-more {
    left: 20%;
    width: 210px;
    height: 50px;
  }

  .img3-main-left {
    bottom: 18%;
  }

  .swiper3 {
    overflow: hidden;
  }

  .main-6-right {
    flex-wrap: wrap;
    overflow: auto;
  }

  .main-6-right-slide .infor-product-head img {
    width: 60%;
    height: auto;
  }

  .main-6-right-slide {
    flex: 1 0 33.33%;
  }

  .main-2-left {
    display: none;
  }

  .main-2 {
    background-color: white;
    width: 100%;
  }

  .info-product {
    border: 1px solid #ccc;
    flex: 1 0 50%;
  }

  .wrapper3 .swiper-slide {
    height: 250px;
  }

  .main-6 {
    flex-direction: column;
  }

  .main-6-left {
    width: 100%;
    align-items: center;
  }

  .main-6-left>img {
    width: 70%;
  }

  .price-shop-buy span {
    width: 100%;
  }

  .main-6-left-bottom-price {
    justify-content: left;
    gap: 15px;
  }

  .main-9-container {
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
  }

  .main-9-container-tab {
    flex: 1 0 calc(50% - 10px);
    flex-direction: row;
  }

  .main-9-container-tab img {
    width: 60%;
  }

  .main-9-container-tab p {
    font-size: 25px;
  }

  .footer-head {
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  .footer-head>img {
    align-self: center;
  }

  .main-10 {
    flex-wrap: wrap;
  }

  .main-10-PaymentMethod {
    flex: 1 0 100%;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .backgroundColorFooter {
    padding: 20px 10px;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-next2,
  .swiper-button-prev2 {
    display: none;
  }

  .main-9-container-tab p {
    font-size: 21px;
  }

  .main3-flashsale {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 662px) {
  .search-img {
    margin-right: 80px;
  }

  .button-search {
    width: 100px;
  }

  .main3-flashsale-left span:first-child {
    font-size: 28px;
  }

  .main3-flashsale-right span {
    font-size: 16px;
  }

  .price-shop-buy span {
    font-size: 20px;
  }

  .infor-product-bottom p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 599px) {
  .img-banner {
    display: none;
  }

  .header-search {
    display: none;
  }

  .button-search span {
    display: none;
  }

  .contact {
    display: none;
  }

  .shopping-navigation {
    display: block;
  }

  .shopping-navigation svg {
    width: 30px;
    height: 30px;
  }

  .more {
    display: block;
  }

  .navbar {
    justify-content: space-around;
  }

  .info-product {
    flex: 1 0 50%;
  }

  .wrapper3 .swiper-slide {
    height: 220px;
  }

  .main-10-PaymentMethod {
    flex: 1 0 100%;
  }

  .main-2-right .infor-product-head img {
    width: 70%;
  }

  .main3-flashsale-left span:first-child {
    font-size: 20px;
  }

  .main3-flashsale-right span {
    font-size: 18px;
    width: 20px;
    height: 20px;
  }

  .main3-flashsale-left span:nth-child(2) svg {
    width: 15px;
    height: 15px;
  }

  .info-user-fixed-right span {
    padding: 2px 7px;
    border-left: none;
  }

  .info-user-fixed-right span svg {
    width: 30px;
    height: 30px;
  }

  .info-user-fixed-right span:active {
    scale: 1.2;
  }

  .info-user-fixed-right
}

@media only screen and (max-width: 515px) {
  .main-3 {
    padding: 0;
  }

  .search-box2 {
    width: 342px;
  }

  .search-box2 input {
    width: 100%;
  }

  .main-9-container-tab {
    flex: 1 0 100%;
  }

  .wrapper3 .swiper-slide {
    height: 210px;
  }
}

@media only screen and (max-width: 426px) {
  .main3-flashsale-left span:first-child {
    font-size: 15px;
  }

  .container-logo2 {
    display: block;
  }

  .container-logo2>img {
    width: 40px;
    height: auto;
  }

  .input-search2 {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .my-swiper-slide {
    height: 120px;
  }

  .info-product {
    flex: 1 0 100%;
    flex-direction: row;
    align-items: center;
  }

  .main-2-right .infor-product-head img {
    width: 60%;
  }

  .main-6-left-bottom-price {
    gap: 5px;
  }

  .main3-flashsale {
    justify-content: space-between;
    gap: 10px;
  }

  .main3-flashsale-right {
    gap: 0;
  }

  .main3-flashsale-right span {
    height: 20px;
    font-size: 10px;
    font-weight: 500;
    padding: 0;
  }

  .nav-search {
    display: block;
  }

  .main-6-left-bottom-price {
    flex-wrap: wrap;
  }

  .catalog-popup {
    width: 70%;
    font-size: 15px;
  }


  /* Ô tìm kiếm nổi bên dưới navbar */
  .search-popup {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(248, 235, 235);
    color: black;
    padding: 10px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    /* Vô hiệu hóa tương tác khi ẩn */
    z-index: 20;
  }

  .search-popup.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    /* Kích hoạt tương tác khi hiển thị */
  }

  .search-bar {
    display: flex;
    align-items: center;
  }

  .back-icon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
  }

  .search-popup input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
  }

  .search-input-icon {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
  }

  /* Lịch sử tìm kiếm */
  .search-history p {
    margin: 0;
    padding: 5px;
    font-size: 14px;
    color: #555;
  }

  .search-history p:hover {
    background-color: #f0f0f0;
  }
}

@media only screen and (max-width: 375px) {
  .main-6-left-bottom-price {
    flex-wrap: wrap;
  }

  .search-box2 {
    width: 290px;
  }

  .main-9-container-tab img {
    width: 55%;
  }

  .main-10-PaymentMethod-right p:first-child {
    font-size: 15px;
  }

  .main-10-PaymentMethod-right p:nth-child(2) {
    font-size: 14px;
  }

  .main-2-right .infor-product-head img {
    width: 100%;
  }

  .infor-product-head div {
    font-size: 12px;
    top: 0;
  }
  .main3-flashsale-left span:first-child{
    font-size: 20px;
  }
  .main3-flashsale{
    flex-direction: column;
    align-items: center;
  }
}