
.row {
  display: flex;
}

.row.wrap {
  flex-wrap: wrap;
}
.row.justify-between {
  justify-content: space-between;
}
.row.justify-around {
  justify-content: space-around;
}
.row.justify-start {
  justify-content: start;
}

.col {
  flex-grow: 1;
  flex-basis: 0%;
  flex-shrink: 0;
}

.padding-62{
  padding: 0 4%;
}


.md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12, .lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12 {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
}

.container {
  width: 100%;
}

.container, .container-lg, .container-md {
  padding: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px)  {
  .container-md {
    width: 100%;
  }
  .md-0, .md-hidden {
    display: none;
  }
  .md-1 {
    width: 8.33333%;
  }
  .md-2 {
    width: 16.66666%;
  }
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.3333%;
  }
  .md-5 {
    width: 41.6666%;
  }
  .md-6 {
    width: 50%;
    
  }
  .md-7 {
    width: 58.3333%;
    
  }
  .md-8 {
    width: 66.6666%;
    
  }
  .md-9 {
    width: 75%;
    
  }
  .md-10 {
    width: 83.3333%;
    
  }
  .md-11 {
    width: 91.6666%;
    
  }
  .md-12 {
    width: 100%;
    
  }
}

@media only screen and (min-width: 769px)  {
  .container-md {
    max-width: 1540px;
  }
  .lg-0 {
    display: none;
  }
  .lg-1 {
    width: 8.33333%;
  }
  .lg-2 {
    width: 16.66666%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-4 {
    width: 33.3333%;
  }
  .lg-5 {
    width: 41.6666%;
  }
  .lg-6 {
    width: 50%;
    
  }
  .lg-7 {
    width: 58.3333%;
    
  }
  .lg-8 {
    width: 66.6666%;
    
  }
  .lg-9 {
    width: 75%;
    
  }
  .lg-10 {
    width: 83.3333%;
    
  }
  .lg-11 {
    width: 91.6666%;
    
  }
  .lg-12 {
    width: 100%;
    
  }
}
